.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.heart{
 width: 70px;
}
.secondDiv{
  display: flex;
  justify-content: center;
  align-items: center;

}
.thidDiv{
  border: 2px solid gray;
  width: 300px;
  height: 150px;
  margin: 25px;
  font-size: 25px;
}
